moq_quality/raw_frames_gop_12_packet_loss
moq_quality/raw_frames_gop_12_idle
moq_quality/raw_frames_gop_24_packet_loss
moq_quality/raw_frames_gop_24_idle
moq_quality/raw_frames_gop_48_packet_loss
moq_quality/raw_frames_gop_48_idle
moq_quality/numbered_raw_frames
*.yuv